%header.d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-md-between.py-3.mb-4
  %a.d-flex.align-items-center.mb-3.mb-md-0.text-dark.text-decoration-none{:href => "/"}
    %svg.bi.me-2{:height => "32", :width => "40"}
      %use{"xlink:href" => "#bootstrap"}
    %span.fs-4.text-uppercase.fw-bolder Rails7Base
  %ul.nav.col-12.col-md-auto.mb-2.justify-content-center.mb-md-0
    %li
      %a.nav-link.px-2.link-secondary{:href => "#"} Home
    %li
      %a.nav-link.px-2.link-dark{:href => "#"} Features
    %li
      %a.nav-link.px-2.link-dark{:href => "#"} Pricing
    %li
      %a.nav-link.px-2.link-dark{:href => "#"} FAQs
    %li
      %a.nav-link.px-2.link-dark{:href => "#"} About
  .col-md-3.text-end.me-5
    %button.btn.btn-outline-pink.me-2.rounded-pill{:type => "button"} Login
    %button.btn.btn-pink.rounded-pill{:type => "button"} Sign-up
