%nav.navbar.navbar-dark.sticky-top.bg-dark.flex-md-nowrap.p-0
  %a.navbar-brand.col-sm-3.col-md-2.mr-0{:href => "#"} Company name
  %ul.navbar-nav.px-3
    %li.nav-item.text-nowrap
      %a.nav-link{:href => "#"} Sign out
