.container-fluid
  .row
    %main.col-md-9.ml-sm-auto.col-lg-10.p-5.px-4{:role => "main"}
      .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3
        %h1.h2
          Edit <%= human_name.capitalize %>
      .row.card.shadow-lg.p-3
        .col

          = render 'form'

          %div.mt-4= link_to 'Back', <%= index_helper(type: :path) %>, class: "btn btn-link"
